@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),linear-gradient(309deg, rgba(90, 90, 90,0.05) 0%, rgba(90, 90, 90,0.05) 50%,rgba(206, 206, 206,0.05) 50%, rgba(206, 206, 206,0.05) 100%),linear-gradient(39deg, rgba(13, 13, 13,0.05) 0%, rgba(13, 13, 13,0.05) 50%,rgba(189, 189, 189,0.05) 50%, rgba(189, 189, 189,0.05) 100%),linear-gradient(144deg, rgba(249, 249, 249,0.05) 0%, rgba(249, 249, 249,0.05) 50%,rgba(111, 111, 111,0.05) 50%, rgba(111, 111, 111,0.05) 100%),linear-gradient(166deg, rgba(231, 231, 231,0.05) 0%, rgba(231, 231, 231,0.05) 50%,rgba(220, 220, 220,0.05) 50%, rgba(220, 220, 220,0.05) 100%),linear-gradient(212deg, rgba(80, 80, 80,0.05) 0%, rgba(80, 80, 80,0.05) 50%,rgba(243, 243, 243,0.05) 50%, rgba(243, 243, 243,0.05) 100%),radial-gradient(circle at center center, hsl(107,19%,100%),hsl(107,19%,100%));
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 750px;
    background: linear-gradient(to right,hsla(202, 17%, 39%, 0.308), hsla(231, 29%, 22%, 0.712)), url(../assets/image_header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    height: 90px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Ajuste Navbar Boostrap */


.navbar-dark .navbar-nav .nav-link{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}


.textos-header h1{
    display: inline-block;
    position: relative;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}

h1::after,h1::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

h1:hover::before, h1:hover::after{
    transform: scale(1);
}

h1::before{
    left: -120px;
}

h1::after{
    right: -120px;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

/* CARDS BANNER ONE*/
.cards-banner-one {
    width: 100%;
    height: 250px;
    background-image: repeating-linear-gradient(45deg, rgb(101, 177, 30) 0px, rgb(101, 177, 30) 32px,rgb(137, 199, 57) 32px, rgb(137, 199, 57) 64px,rgb(65, 155, 2) 64px, rgb(65, 155, 2) 96px);
    margin-bottom: 40px;       
    position: relative;
    border-radius: 50px;
}

.cards-banner-one::after{
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100%;
    filter: blur(10px);
    border-radius: 40px;
    z-index: -1;
}

.cards-banner-one .content {
    width: 90%;
    display: inline-block;
    text-align: justify;
    padding-left: 120px;
}


.cards-banner-one .content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: normal;
}


.cards-banner-one h2 {
    margin: 10px 0 20px 0;
}

/* Ajustes efecto ola */
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*   CARDS   */
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image{
    background: cornflowerblue;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.image img{
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image:hover img{
    opacity: 1;
}

.image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(12, 14, 27);
    width: 100%;
    height: 100%;
}

.image .details h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transforms;
}

.image .details h2 span{
    font-weight: 900;
}

.image:hover .details h2{
    transform: translateY(-30px);
}

.image .details p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.image:hover .details p{
    opacity: 1;
    transform: translateY(-40px);
}

.more{
    position: absolute;
    background: rgb(2, 34, 71);
    width: 100%;
    display: inline-block;
    padding: 5px;
    padding-left: 75px;
    bottom: -87px;
    transition: 0.6s;
    transition-property: bottom;
}


.image:hover .more{
    bottom: 0;
}

.more .read-more{
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 1080px){
    .image{
        flex: 100%;
        max-width: 480px;
    }
}

@media (max-width: 400px){
    .image .details p{
        font-size: 16px;
    }

    .more .read-more{
        font-size: 18px;
    }
}


    /*  Ajustes Imagenes Recetas Fav    */

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*  Pasar el mouse  */

.hover-receta{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(27, 10, 41, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-receta img{
    width: 50px;
}


.imagen-port:hover .hover-receta{
    transform: scale(1);
}

hr{
    height: 1px;
    background: #d38a04;
}
/*  Icono */
i{
    font-size: 60px;
}

#txtDescripcion{
    text-align: justify;
}

#irReceta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    color: turquoise;
}

/*  Footer  */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #04df21;
    padding-bottom: 5px;
    font-size: 40px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
